.bodyStyle {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

.bodyDiv {
    background-color: tan;
}

.calendar {
    top: 95%;
    right: 80%;
}

fieldset.text1 {
    background-color: #c5c5c5;
}

fieldset.text2 {
    background-color: #c5c5c5;
}

fieldset.text3 {
    background-color: #c5c5c5;
}

div.text1 {
    text-align: center;
    font-size: 16px;
    font-family: 'Aboreto', sans-serif;
    color: black;
    width: 90%;
    height: 200px;
    overflow: scroll;
}

div.text2 {
    text-align: center;
    font-size: 16px;
    font-family: 'Aboreto', sans-serif;
    color: black;
    width: 90%;
    height: 200px;
    overflow: scroll;
}

div.text3 {
    text-align: center;
    font-size: 16px;
    font-family: 'Aboreto', sans-serif;
    color: black;
    width: 90%;
    height: 200px;
    overflow: scroll;
}

.sidebar {
    font-family: 'Aboreto', sans-serif;
    color: black;
}

.title {
    font-size: 26px;
    font-family: 'Aboreto', sans-serif;
    color: #d97438;
    text-shadow: 2px 2px 4px #000000;
    background-color: #b6b4b4;
}

.mainBody {
    background-color: #b6b4b4;
}

.panelGrid {
    background-image: url('../resources/images/carpetGob.jpg');
}

.ui-grid-row {
    background-image: url('../resources/images/carpetGob.jpg');
}

.ui-panelgrid-cell.ui-grid-col-3 {
    background-image: url('../resources/images/carpetGob.jpg');
}
