.body {
    background-image: url('../images/carpetGob.jpg');
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: 100% 100%;
}

.createUserForm {
    position: absolute;
    background-color: #726d6d;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
}