h1 {
    text-align: center;
    font-size: 28px;
    font-family: Arial, serif;
    color: peru;
    text-shadow: 2px 2px 4px #000000;
    margin-left: 50px;
    margin-right: 50px;
}

.body {
    background-image: url("../../resources/images/castle.jpg");
    background-size: 100%;
}

.formLogin {
    font-size: 22px;
    font-family: 'Open Sans',sans-serif;
    color: tan;
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    left: 30%;
    top: 12%;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
}

#loginButton {
    font-size: 20px;
}
