.body {
    background-image: url("../../resources/images/carpet.jpg");
    height: 100%;
    width: 100%;
}

.mainText {
    position: absolute;
    background-color: #726d6d;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}