.body {
    background-image: url('../images/carpetGob.jpg');
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

h1 {
    color: rgb(255, 255, 255);
    left: 18rem;
    top: 2rem;
    background-color: rgba(68, 67, 67, 0.8);
    padding: 0 1rem;
    font-family: 'Aboreto', sans-serif;
}

h2 {
    color: rgb(255, 255, 255);
    left: 18rem;
    top: 2rem;
    background-color: rgba(68, 67, 67, 0.8);
    padding: 0 1rem;
    font-family: 'Aboreto', sans-serif;
}

h3 {
    color: rgb(255, 255, 255);
    background-color: rgba(68, 67, 67, 0.8);
    padding: 0 1rem;
    font-family: 'Aboreto', sans-serif;
}
